.navbar {
  display: grid;
  grid-auto-flow: column;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 12px;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.navbar li {
  margin: 10px;
}

.navbar a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.links ul li {
  margin-left: 3vw;
}

.adoteLink {
  color: #ff6b17;
}

.imgLogo {
  align-items: center;
  position: absolute;
}

.menu_container {
  width: 95%;
  background-color: white;
  margin: auto;
  border-radius: 200px;
}
