<<<<<<< HEAD:front-end/front-end/src/Components/Sections/SobreNos.module.css
.SobreNos {
    background-color: #323232;
    height: 35rem;
    width: 95%;
    margin: auto;
    margin-bottom: 10em;
    border-radius: 50px;
    border: 0.2px solid rgba(218, 218, 218, 0.699);
    display: flex;
    position: relative;
    top: -7em;
    box-shadow: 2px 5px 10px rgb(24, 24, 24);
    overflow: hidden;
}

.SobreNos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.SobreNos p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-90%, 0%);
=======
.SejaVoluntario p{
>>>>>>> 495962f32ef7412feac108d3de78ff9f7fa290d0:front-end/src/Components/Sections/SejaVoluntario.module.css
    color: white;
    width: 95%;
    margin-left: 450px;
    margin-top: 50px;
    margin-bottom: 80px;
    font-weight: bold;
    font-size: 25px;  
}

.btn{
    background: #29B58F;
    color: white;
    margin-left: 450px;
    margin-bottom: 80px;
    border: none;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    height: 50px;
    width: 350px;
    border-radius: 15px;
}

.btn:hover{
    color: aliceblue;
    background-color: #64c9ae;
    transform: translate(-7px);
    transition-duration: 0.8s;
}

.imagemCelular{
    margin-left: 650px;
    display: grid;
    grid-auto-flow: column;
    justify-items: auto;
    margin-top: -500px;
    margin-bottom: 50px;
}